@font-face {
    font-family: 'SesameStreet';
    src: url('../fonts/SesameStreet/SESAME.TTF');
}

.fontFaceSesameStreet {
    font-family: "SesameStreet";
}

.fontConsolas {
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

a {
    text-decoration: none !important;
}